<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hola <%= @contact.name %></h1>
    <p>
      Gracias por ponerte en contacto con nosotros!
    </p>
    <p>
      Salimos online el 30 de Mayo!
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>